<ion-header>
    <ion-navbar color='red'>
        <ion-title>List of Location</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <!-- <ion-list show-delete="false" can-swipe="true">
        <ion-item *ngFor="let item of listLocation" (click)="openAction(item.uid)">
            <h3 [innerHTML]=item.name></h3>
            <p [innerHTML]=item.address></p>
        </ion-item>
    </ion-list> -->
    <!-- <ion-fab right bottom>
        <button ion-fab mini color='secondary' (click)="addLocation()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab> -->
    <ion-list>
        <ion-item-sliding *ngFor="let item of listLocation" class="nopadding-attr">
            <ion-item>
                <h3 [innerHTML]=item.name></h3>
                <p [innerHTML]=item.address></p>
            </ion-item>
            <ion-item-options side="left">
                <button ion-button (click)="deleteAction(item.uid)">
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>
            <ion-item-options side="right">
                <button color='blue' ion-button (click)="viewLocation(item.uid)">
                    <ion-icon name='more'></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>