page-listLocation {
    
    
}
.item-inner {
    padding: 3px;
}
.item{
    padding:none !important;
}
.item-ios{
    padding-left: 0px !important;
}
.nopadding{
    padding:none !important;
}
.item.item-block.item-md{
    padding-left: 0px !important;
}